@font-face {
  font-family: ShangriLa;
  src: url('fonts/SHANLN__.ttf'), url('fonts/SHANLNC_.ttf');
  }

@font-face {  
  font-family: Griffos;
  src: url('fonts/GriffosFont.ttf');
}

@font-face {
  font-family: Znikomit;
  src: url('fonts/Znikomit.otf');
}

body {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.16) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(65%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.16))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.16) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.16) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.16) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.16) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#29000000',GradientType=1 ); /* IE6-9 */
}


h1.word-mark {
  font-family: Znikomit, ShangriLa, arial, sans-serif;
  font-size: 10em;
  margin: 0;
}


section.container {
  position: absolute;
  padding: 2em;
  width: 100%;
  overflow: auto;
}

div.main {
  position: relative;
  width: 50%;
  height: 560px;
  float: left;
}

div.word-mark {
  padding-left: 5em;
  margin-top: 35px;
}

div.menu {
  position: absolute;
  width: 40%;
  padding-left: 165px;
}

  div.menu li {
    font-family: Znikomit;
    list-style: none;
    font-size: 24px;
    padding: 15px 10px;
    -webkit-transition-property: margin;
       -moz-transition-property: margin;
        -ms-transition-property: margin;
         -o-transition-property: margin;
            transition-property: margin;
    -webkit-transition-duration: .5s;
       -moz-transition-duration: .5s;
        -ms-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }

  div.menu li:hover {
    margin: 0 0 0 50px;
    }

    div.menu li a {
      color: inherit;
      text-decoration: none;
    }

div.content {
  width: 40%;
  height: 560px;
  float: right;
}

div.social-icons li {
  list-style: none;
}